
@{
    ViewBag.Title = "Display";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <td colspan="4" class="bg-primary text-center" style="font-size:4em">Queue Numbers</td>
        </tr>
        <tr style="font-size:6em; text-align: center">
            <td>Counter 柜台</td>
            <td>QueueNo 编号</td>
            <td>Counter 柜台</td>
            <td>QueueNo 编号</td>
        </tr>
    </thead>
    <tbody style="font-size:8em; text-align: center">
        @for (int i = 0; i < 4; i++)
        {
            <tr>
                <td class="counter" id=@("counter_" + i.ToString())><div class="white">0</div></td>
                <td class="queueNo" id=@("queue_" + i.ToString())><div class="white">0</div></td>
                <td class="counter" id=@("counter_" + (i + 4).ToString())><div class="white">0</div></td>
                <td class="queueNo" id=@("queue_" + (i + 4).ToString())><div class="white">0</div></td>
            </tr>
        }
    </tbody>
</table>
<table class="table table-bordered">
    <thead>
        <tr>
            <td colspan="5" class="bg-danger text-center" style="font-size:4em">Missed Numbers 编号</td>
        </tr>
    </thead>
    <tbody style="font-size:8em; text-align:center">
        <tr>
            @for (int i = 0; i < 5; i++)
            {
                <td class="skipped" id=@("skipped_" + @i)><div class="white">0</div></td>
            }
        </tr>
    </tbody>
</table>

@Scripts.Render("~/bundles/display")
@Styles.Render("~/Content/display")
